<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="../../View/css/styles.css">
</head>
<body>
    <main>
        <br><br><h1>Tic Tac Toe</h1>
        <ul>
            <br><li><a href="../../index.html">HOME</a></li><br>
        </ul>
        <hr/><br>
        <h2>Settings</h2><br>
        <p>Choose number of players</p>
        <p>
             <input type="radio" name="qntyPlyrs" /> 1 Player<br />
             <input type="radio" name="qntyPlyrs" /> 2 Players<br />           
        <p>Choose computer difficulty</p>

        <p>
            <input type="radio" name="compDif" /> Easy<br />
            <input type="radio" name="compDif" /> Medium<br />
            <input type="radio" name="compDif" /> Hard<br />
        </p>
    </main>
    <script src="../../Controller/settings.js"></script>
</body>
</html>